.confirma-Delete {
    height: 100vh;
}

.confirm {
    color: lawngreen;
    margin-top: 10rem;
    text-align: center;
}

.buttonDelete {
    display: flex;
    justify-content: center;
    /* width: 10rem; */
}

.buttonDelete button {
    width: 20rem;
    height: 10rem;
}